@model List<MemberService>

@{
    ViewData["Title"] = "Authors Page";

    //var routeUrl = Url.RouteUrl(ViewContext.RouteData.Values);
    //var qsPath = ViewContext.HttpContext.Request.QueryString.Value;
    //var returnUrl = $"{routeUrl}{qsPath}";

}



<div class="row">
    <div class="col-md-4">
        @await Component.InvokeAsync("MemberCard")

    </div>
    <div class="col-md-7">
        <h1 class="display-4">Randevu alım sayfası</h1>
        <form asp-action="Index">
            <table class="table">
                <thead>
                    <tr>
                        <th>   <h4 class="text-white">Lütfen hizmet almak istediğiniz birimi seçiniz</h4></th>
                        <th>  <h4 class="text-white">Lütfen hizmet almak istediğiniz danışmanı seçiniz</h4></th>
                        <th><h4 class="text-white">Randevu Tarihini Seçiniz</h4><br /></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <div class="form-group">
                               
                                <select  class="form-control" name="categoryId" asp-items="@ViewBag.Category">
                                    <option value="0">Hizmet Birimini Seçiniz</option>
                                </select>

                            </div>
                           

                        </td>
                        <td>
                            <div class="form-group">

                                <select class="form-control" name="authorId" asp-items="@ViewBag.Author">
                                    <option value="0">Danışman Seçiniz</option>
                                </select>
                               
                            </div>
                        </td>
                        <td>
                            <div class="form-group">
                                <input type="date" class="form-control" name="appointmentDate" >
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="text-center">
             
                <input type="submit" class="btn btn-info" value="Randevu Bul" />
            </div>
        </form>

        <hr />
        <div class="form-group">
            <table class="table">
                <thead>
                    <tr>
                        <th>Hizmet Birimi</th>
                        <th>Danışman Adı</th>
                        <th>Randevu Zamanı</th>
                        <th>Randevu Al</th>

                    </tr>
                </thead>
                <tbody>
                   
                    
                        @if (Model!=null)
                        {
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <th>@item.Category.CategoryName</th>
                                    <th>@item.Author.AuthorFullName</th>
                                    <th>@item.AppointmentTime.ToString("dd MMM yyyy")</th>
                                    <th>
                                        <form asp-action="MemberAppointment" method="post">
                                            <input type="hidden" name="memberServiceId" value="@item.MemberServiceId" />
                                            <input type="submit" class="btn btn-success" value="Randevu Al" />
                                        </form>
                                    </th>

                                </tr>

                            }

                        }
                        else
                        {
                            <tr>
                                <td colspan="4" class="text-warning">
                                    <div>
                                        <h3>Lütfen randevu bulmak için seçeneklerden en az 1 tanesini seçiniz!</h3>

                                    </div>
                                    <div>
                                        <h3><a href="#" style="text-decoration:none;">Randevu talep etmek için tıklayınız <i class="fa-solid fa-computer-mouse"></i></a></h3>
                                    </div>
                                </td>
                            </tr>
                        }
                    

                </tbody>
            </table>
        </div><br />
    </div>
</div>



