@model MemberServiceModel

@{
    ViewData["Title"] = "Authors Page";

    //var routeUrl = Url.RouteUrl(ViewContext.RouteData.Values);
    //var qsPath = ViewContext.HttpContext.Request.QueryString.Value;
    //var returnUrl = $"{routeUrl}{qsPath}";

}



<div class="row">
    <div class="col-md-4">
        <partial name="_MemberCard" model="@Model.User" />

    </div>
    <div class="col-md-7">
        <h1 class="display-4">Randevu alım sayfası</h1>
        <form asp-action="Index">
            <table class="table">
                <thead>
                    <tr>
                        <th>   <h4 class="text-white">Lütfen hizmet almak istediğiniz birimi seçiniz</h4></th>
                        <th>  <h4 class="text-white">Lütfen hizmet almak istediğiniz danışmanı seçiniz</h4></th>
                        <th><h4 class="text-white">Randevu Tarihini Seçiniz</h4><br /></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <div class="form-group">
                               
                                <select asp-for="Category.CategoryId" asp-items="@ViewBag.Category"></select>

                            </div>
                           

                        </td>
                        <td>
                            <div class="form-group">

                                <select asp-for="Author.AuthorId" asp-items="@ViewBag.Author"></select>

                            </div>
                        </td>
                        <td>
                            <div class="form-group">

                                <input type="datetime-local" asp-for="MemberService.AppointmentTime" />
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="text-center">
             
                <input type="submit" class="btn btn-info" value="Randevu Bul" />
            </div>
        </form>

        <hr />
        <div class="form-group">
            <table class="table">
                <thead>
                    <tr>
                        <th>Hizmet Birimi</th>
                        <th>Danışman Adı</th>
                        <th>Randevu Zamanı</th>
                        <th>Randevu Al</th>

                    </tr>
                </thead>
                <tbody>
                   
                    
                        @if (Model.MemberServices.Count > 0)
                        {
                            @foreach (var item in Model.MemberServices)
                            {
                                <tr>
                                    <th>@(((Category)(Model.Categories.Find(x=>x.CategoryId==item.CategoryId))).CategoryName)</th>
                                    <th>@(((Author)(Model.Authors.Find(x=>x.AuthorId==item.AuthorId))).AuthorFullName)</th>
                                    <th>@item.AppointmentTime</th>
                                    <th>
                                        <form asp-action="MemberAppointment" method="post">
                                            <input type="hidden" name="memberServiceId" value="@item.MemberServiceId" />
                                            <input type="hidden" name="userId" value="@Model.User.Id" />
                                            <input type="hidden" name="userName" value="@Model.User.UserName" />
                                            <input type="submit" class="btn btn-info" value="Randevu Al" />
                                        </form>
                                    </th>

                                </tr>

                            }

                        }
                        else
                        {
                            <tr>
                                <td colspan="4" class="text-warning">
                                    <div>
                                        <h3>Aradığınız kritere uygun randevu bulunamadı!</h3>

                                    </div>
                                    <div>
                                        <h3><a href="#" style="text-decoration:none;">Randevu talep etmek için tıklayınız <i class="fa-solid fa-computer-mouse"></i></a></h3>
                                    </div>
                                </td>
                            </tr>
                        }
                    

                </tbody>
            </table>
        </div><br />
    </div>
</div>



