

@model List<MemberService>

@{
    ViewData["Title"] = "Authors Page";



}


<div class="row">
    <div class="col-md-4">
        @await Component.InvokeAsync("MemberCard")
    </div>
    <div class="col-md-7">
        <h1 class="display-4">Randevular</h1><br />
        <table class="table">
            <thead>
                <tr>
                    <td>#</td>
                    <td>Hizmet Alınan Danışman Bilgileri</td>
                    <td>Randevu Zamanı</td>
                    <td>Randevu kategorisi</td>
                    <td>Randevu İptal Et</td>

                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                <tr>
                    <td>  @item.MemberServiceId</td>

                    <td>    @item.Author.AuthorFullName</td>
                    <td>    @item.Category.CategoryName</td>
                    <td>      @item.AppointmentTime</td>
                    <td>
                        <form asp-controller="MemberService" asp-action="DeleteAppointment" method="post">
                            <input type="hidden" name="MemberServiceId" value="@item.MemberServiceId" />
                            <input type="submit" class="btn btn-danger" value="Randevuyu İptal Et" />
                        </form>

                    </td>
                </tr>

                }

            </tbody>
        </table>
    </div>
</div>



