@model AuthorListViewModel
@{
    ViewData["Title"] = "Authors Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-6">
        <div class="row">
            @* ************************DANIŞMAN RESİMLERİ KISMI  *@
            @foreach (var author in Model.Authors)
            {
                <div class="col-md-6">
                    <a href="/authors?id=@author.AuthorId&page=@Model.PageInfo.CurrentPage">
                        <div class="cards-list">

                            <div class="carda ">
                                <div class="card_image"> <img src="~/images/defaultAuthor/@author.AuthorImages" /> </div>
                                <div class="card_title title-white">
                                    <p style="background-color:black !important;">@author.AuthorFullName</p>
                                </div>
                            </div>

                        </div>
                    </a>


                </div>


            }

        </div>
        @* DANIŞMAN SAYFALAMA *@


    </div>
    <div class="col-md-6 ">
        <div class="text-center">
            <h1>Pisikolog bilgileri</h1>
        </div>
        @if (Model.SelectedAuthor != null)
        {
            <h3>@Model.SelectedAuthor.AuthorFullName</h3>
            <h5>Mail Adresi: @Model.SelectedAuthor.AuthorMail</h5>
            <h5>Telefon Numarası: @Model.SelectedAuthor.AuthorPhone</h5>
            <h5>YAZARIN YAZDIĞI YAZILAR EKLENİCEK</h5>
        }
        else
        {
            <div class="text-center">
                <P> DANIŞMANA AİT BİLGİLERİ GÖRMEK İÇİN YAZARI TIKLAYINIZ !!!</P>
            </div>
        }

    </div>

</div>
<nav class="d-flex justify-content-center">
    <ul class="pagination">
        @for (int i = 0; i < Model.PageInfo.TotalPages(); i++)
        {
            <li class="page-item" @(Model.PageInfo.CurrentPage == i + 1 ? "active" : "")>
                <a href="/authors?page=@(i+1)" class="page-link">@(i+1)</a>
            </li>

        }

    </ul>
</nav>




